#appointment_list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: fit-content;
    width: fit-content;
}
.card {
    flex: 0 0 auto;
}
.open{
    width:20px;
    height: 20px;
    background-color: black;
}